nextflow.enable.dsl = 2
docker.enabled = true

params {
    samples_csv = './samples.csv'
    outdir = './test_output/'
    fastqc {
        threads = 2
    }
    spades {
        threads = 4
        memory = 8000 
    }
    quast {
        threads = 2
    }
    prokka {
        genus = 'Escherichia'
    }
    abricate {
        databases = 'resfinder'
    }
}

process {
    // Общие настройки для всех процессов
    executor = 'local'
    errorStrategy = 'retry'

    // Глобальные ресурсы по умолчанию
    cpus = 2
    memory = '4 GB'

    // Настройки контейнеров для процессов
    withName: FastQC {
        container = 'biocontainers/fastqc:v0.11.9_cv7'
        cpus = params.fastqc.threads
    }
    withName: SPAdes {
        container = 'quay.io/biocontainers/spades:3.15.4--h95f258a_0'
        cpus = params.spades.threads
        memory = "${params.spades.memory} MB"
    }
    withName: QUAST {
        container = 'quay.io/biocontainers/quast:5.2.0--py39pl5321h4e691d4_3'
        cpus = params.quast.threads
    }
    withName: Prokka {
        container = 'staphb/prokka:1.14.6'
    }
    withName: Abricate {
        container = 'staphb/abricate:latest'
    }
}